apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-xwqyjtyq
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-xwqyjtyq:d6e27e91c36a3ca72872efa81bdc1690c5f622f6@sha256:2948aebc86916d3d143ab56abc4233b138ede2634cb63e994d0de41bd94a96f5
          name: container-image
